.fashion-card {
  position: relative;
  &::before {
    content: attr(data-name);
    text-transform: capitalize;
    background-color: $green;
    padding: 0.75rem 3rem;
    color: white;
    font-weight: 700;
    font-family: "Rufina", serif;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
