.fashion-card {
  &__img-box {
    position: relative;
    margin-bottom: 2rem;

    &::before {
      content: attr(data-fashion);
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2rem;
      background-color: $green;
      color: $white;
      text-transform: capitalize;
      padding: 1rem 4rem;
      z-index: 100;
      transition: all 0.5s ease;
    }
  }

  &__img {
    transition: all 0.5s ease;
  }

  &__img-box:hover &__img {
    transform: scale(0.95) rotate(1deg);
    filter: blur(1px) grayscale(0.2);
  }

  &__img-box:hover::before {
    right: 2rem;
    top: 3rem;
    font-size: 1.8rem;
  }

  &__user-comment {
    &--list {
      @include flexCenterItems;
      justify-content: space-between;
      margin-bottom: 2rem;

      @include respond(md) {
        text-align: center;
        line-height: 1.5;
        list-style: none;
        padding: 0 2rem;
      }
    }

    &--item {
      font-size: 1.4rem;
      &:nth-of-type(1) {
        @include flexCenterItems;
      }
    }
  }

  &__link {
    @include flexCenterItems;
    justify-content: flex-start;
    font-size: 1.8rem;
    text-decoration: none;
    color: $dark;
    img {
      width: 3rem;
      margin-top: 4px;
      margin-left: 1rem;
    }
    &:hover img {
      animation: arrowAnimation 0.5s infinite ease-out;
    }
  }

  &__comment {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
