.menu-section {
  padding-top: 15rem;

  &.last {
    padding-bottom: 15rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;

    @include respond(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__content.left {
    order: -1;
    @include respond(sm) {
      order: 1;
    }
  }
}
