.navbar {
  height: 9rem;
  background-color: transparent;
  @include flexCenterItems;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-out;

  &.bg-green {
    background-color: $green-dark;
  }
  &.scrolled {
    height: 8rem;
    background-color: $green;
  }
  &__container {
    display: flex;
    align-items: center;
  }

  &__logo-box {
    margin-right: 4.5rem;
    @include respond(sm) {
      width: 50%;
    }
  }

  &__logo {
    height: 6rem;

    @include respond(md) {
      height: 5rem;
    }
    @include respond(sm) {
      height: 4rem;
    }
  }

  &__contact-us {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2.6rem;
    @include respond(sm) {
      display: none;
    }
  }
}
