.navigation {
  background-image: url(https://www5.0zz0.com/2022/04/12/00/965977889.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 0%;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  z-index: 1000;
  will-change: width;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.32, -0.36, 0.49, 1.19);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(#233000, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &.active {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }

  &__close {
    position: absolute;
    left: 4rem;
    top: 3rem;
    z-index: 1500;
    cursor: pointer;
    svg {
      font-size: 4rem;
    }
  }

  &__container {
    position: relative;
    height: 100vh;
    z-index: 5;
  }

  &__contact {
    position: absolute;
    right: 0;
    bottom: 20%;
    min-width: 30rem;

    @include respond(sm) {
      display: none;
    }
    &__icons {
      @include flexCenterItems;
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 2.8rem;
    transform: translateX(10rem);

    @include respond(sm) {
      align-items: center;
      transform: translateX(0);
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: inline-block;
    color: $white;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Rufina", serif;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $white;
      left: -2.5rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active {
      color: $green-light;
      &::before {
        background-color: $green-light;
      }
    }
  }
}
